//packages.broadcom.com/artifactory/api/npm/layer7-npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJNUmo4OWVRNjkwSEE3eE40cXZvZ0FnajczSFJhdDNKcWcxanYyNDZHdTRnIn0.eyJzdWIiOiJqZmFjQDAxZXA4M3E2empibnNkMW1wMjRqcjUxcWs0L3VzZXJzL2NocmlzdGlhbi5vYmVybGVAYnJvYWRjb20uY29tIiwic2NwIjoiYXBwbGllZC1wZXJtaXNzaW9ucy9ncm91cHM6MTA1MjQ2IiwiYXVkIjoiKkAqIiwiaXNzIjoiamZhY0AwMWVwODNxNnpqYm5zZDFtcDI0anI1MXFrNCIsImV4cCI6MTc3NDU0NTU2OSwiaWF0IjoxNzc0MzcyNzY5LCJqdGkiOiIzMTU0ZDNiYy1iY2RmLTQzMTktYjEwZC02OTFkOTRkMGRhNzEifQ.g2KkivvldDAGz-HU20kDJyBg_QLwXJzyy2LvuXDVE6Y5wWGNe-u__a4ZSoTwXb7FFfV3f_DbvW1LzmieHbhnoiuQ56OoSJvbwO8xnJLNL5Fa6dWpEQq4YaTjmPSZEk4-L4PHBSgdNBUH7wHOlrpfBl6AVy_qT7r7oLdExgHjHA8Vmjgom6Hu6yqbc1kpqmcAZnn3-sDfasmfkFToV4h0S3xtrbRF_ByRe5qe6HEXwfvpyObnSODroI9cRDH1u_G_NF-hLwthgBMhVwgyUUdlbY0c2QoEN4WORRjscIzM_tMb86Ta3TSbsJFZm4os6s91Xtr7zl0VY1yO-iofGhplCg
